@import '~normalize.css';

*{
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
  font-family: sans-serif;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  padding: 10px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
}

.dropdown {
  display: flex;
  list-style: none;

  &__item {
    margin-left: 25px;
    cursor: pointer;
  }

  &__item--active {
    font-weight: 700;
  }
}

.main {
  &__inner {
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-gap: 50px;
  }
}

.current {
  &__title {
    font-size: 44px;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__temperature {
    font-size: 96px;
  }
  &__icon {
    width: 120px;
    height: 120px;
  }
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 60px 0;
}



